/* RGB */
$page-backgroundColor: #fff;
$heading-xlarge: rgba(36, 123, 160, 1);
$heading-large: rgba(36, 123, 160, 1);
$heading-medium: rgba(112, 193, 179, 1);
$heading-small: rgba(112, 193, 179, 1);
$paraColor: #000;