/* RGB */
$page-backgroundColor: #fff;
$heading-xlarge: rgb(41, 120, 187);
$heading-large: rgba(36, 123, 160, 1);
$heading-medium: rgb(60, 193, 179);
$heading-small: rgba(80, 193, 179, 1);
$paraColor: #000;