@import 'colors';

.heading-text {
    color: #003b94;
    font-family: 'Roboto', sans-serif;
    &.-xlarge { 
        text-align: left;
        font-size: 40px;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 0;
        color: $heading-xlarge;
    }
    &.-large {
        text-align: left;
        font-size: 30px;
        font-weight: 400;
        font-family: 'Roboto Condensed', sans-serif;
        color: $heading-large;
    }
    &.-medium {
        text-align: left;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: $heading-medium;
    }
    &.-small {
        text-align: left;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: $heading-small;
    }
}