@import 'colors';
@import '_mediaQueryVar';
.nav-bar {
    width: 100%;
    display: inline-flex;
    flex-flow: row;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    > .heading-text.-xlarge {
        @media #{$xsmall-device-query} {
            font-size: 12px;
            padding: 15px 5px 0 5px;
            margin: 3px;
        }
        @media #{$small-device-query} {
            font-size: 18px;
            padding: 10px 5px 0 5px;
            margin: 3px;
        }
        @media #{$med-device-query} {
            font-size: 18px;
            padding: 10px 5px 0 5px;
            margin: 3px;
        }
        @media #{$large-device-query} {

        }
        @media #{$xlarge-device-query} {
        }
    }
    > .verticalbreak {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        border-left: thin solid #000000;
        padding: 10px 10px 0 10px;
        margin: 3px;
        > .navlink {
            color: $paraColor;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
        }
    }
}