@import 'colors';
header {
    display: inline-flex;
    flex-flow: row;
    width: 100%;
    border-bottom: 1px solid;
    &.-overlay {
        overflow: hidden;
        position: fixed;
        padding: 10px;
        left: 0;
        right: 0;
        top: 0;
        height: 64px;
        z-index: 60;
        background-color: $page-backgroundColor;
    }
    &.-anchored {
        position: static;
    }
}

main {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
}

body {
    background-color: $page-backgroundColor;
}
table {
    display: table;
    width: 95%;
    border-color: $borderColor;
    border-spacing: 5px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 0.5px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
}

th {
    display: table-cell;
    text-align: left;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
    padding: 10px;
}

td {
    display: table-cell;
    text-align: left;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
    padding: 10px;
}